@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#memory-menu {
    background-image: url('./images/zz.Menu.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: absolute;
    width: 100vw;
    z-index: 4;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#memory-board {
    height: 100vh;
    width: 100vw;
    background-image: url('./images/zz-board.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
}

#memory-game-over {
    background-image: url('./images/zz-Gameover.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: absolute;
    width: 100vw;
    z-index: 2;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#memory-game-won {
    background-image: url('./images/zz-Youwin.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: absolute;
    width: 100vw;
    z-index: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#memory-board-game {
    display: grid;
    grid-template-columns: repeat(4,8rem);
    grid-template-rows: repeat(4,8rem); 
    grid-gap: 2rem;
    perspective: 800px;
}

.title {
    font-family: Lobster;
    font-size: 5em;
    text-align: left !important;
    width: 608px;
    color: rgba(186, 28, 115, 0.754);
    padding-bottom: 10px;
}


.card{
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: rgba(186, 28, 115, 0.754), 0px 5px 15px;
}

.face, .back{
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    border-radius: 15px ;
    border: 2px solid rgba(186, 28, 115, 0.754)
}

header {
    background-position: 0,0;
    background-repeat: no-repeat;
    background-size: inherit;
    height: 250px;
  }

h1{
    justify-content: flex-start;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(186, 28, 115, 0.754);
    padding-bottom: 10px;
}

.back{
    background-image: url(./images/zz-Back.png);
    background-size: 128px;
    backface-visibility: hidden;
}

.toggleCard{
    transform: rotateY(180deg);
}

#button{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 100vh;
    margin-top: 150px;
}

.button-1 {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 31px;
    font-weight: 500;
    height: 60px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200px;
    letter-spacing: 11px;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

.button-2 {
    background-color: #e73e3e;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 31px;
    font-weight: 500;
    height: 86px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 400px;
    letter-spacing: 11px;
}

.button-2:hover,
.button-2:focus {
  background-color: #e73e3e;
}
.button-2 {
    background-color: #e73e3e;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 31px;
    font-weight: 500;
    height: 86px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 400px;
    letter-spacing: 11px;
}

.button-2:hover,
.button-2:focus {
  background-color: #e73e3e;
}